<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div id="slogan">
      For your health and your wallet!
    </div>
    <nav class="navbar">
      <p id='hide'>|</p>
      <a href="/">Home</a>
      <p id='hide'>|</p>
      <a href="/wfd">Pantry</a>
      <p id='hide'>|</p>
      <a href="/dc">Recipes</a>
      <p id='hide'>|</p>
      <h1>No Takeout!</h1>
      <p id='hide'>|</p>
      <p id='hide'>|</p>
      <p id='hide'>|</p>
      <p id='hide'>|</p>
      <p id='hide'>|</p>
      <p id='hide'>|</p>
      <p id='hide'>|</p>
      <p id='hide'>|</p>
    </nav>

    <div id="pair">
      <img src="/images/cooking.jpg" alt="cutting board">
      <div id="text-body">
        <h3>CUPCAKE IPSUM DOLOR SIT AMET</h3>
        <p id="text">Carrot cake lollipop sesame snaps dessert cupcake cookie candy. Tart pastry cotton candy sugar plum cake tootsie roll cake icing. Marzipan jelly powder cupcake donut jelly beans. Marzipan sugar plum tart ice cream carrot cake ice cream halvah. Chupa chups fruitcake chocolate bar liquorice chocolate cake tart candy soufflé dragée. Sugar plum sweet chocolate cake brownie marshmallow oat cake lollipop. Chupa chups cotton candy macaroon jelly-o muffin. Wafer brownie caramels macaroon donut chocolate marshmallow.</p>
        <p id="text">Danish muffin apple pie bonbon cake pie cookie soufflé cheesecake. Gummies dessert wafer halvah candy canes pie tootsie roll brownie sweet. Brownie chocolate cake oat cake jelly beans lemon drops cookie cake. Sweet roll icing candy tiramisu jujubes gingerbread sesame snaps. Gingerbread cotton candy biscuit ice cream chocolate bar macaroon candy canes icing. Dragée oat cake cupcake sesame snaps pie chocolate cake sugar plum. Chocolate bar cheesecake chupa chups brownie donut toffee.</p>
        </div>
    </div>



  </body>
</html>
