<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1>What's in my Pantry?</h1>

    <a href="/wfd/newp"><button>Add to my Pantry</button></a>
  </body>
</html>
