<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recipe</title>
  </head>
  <body>
    <h1> <%= recipe.name %> </h1>

    <a href="/dc/<%=recipe.id%>/edit"><button>EDIT</button></a>
    

  </body>
</html>
